@import "variables";

.carousel-container {
    width: 50rem;
    position: relative;
    height: 500px;
    overflow: hidden;

    button {
        position: absolute;
        top: 0;
        height: 100%;
        width: 10%;
        cursor: pointer;
        border: none;
        background-color: rgb(0, 0, 0);
        color: $secondaryColor;
        font-size: 2em;
        opacity: 30%;
        transition: ease-in-out .1s;
    
        &:hover {
            opacity: 50%;
            transition: ease-in-out .1s;
            border: none;
            transform: scale(1.1);
        }
    
        &:active {
            outline: none;
            opacity: 70%;    
        }
    
        &:focus {
            outline: none;
        }
    }
}

.slides {
    display: flex;
    width: 200%;
    height: 100%;
}

.img1 {
    background: url('../img/cube1.jpg');
    width: 50%;
}

.img2 {
    background: url('../img/cube2.jpg');
    width: 50%;
}

.next {
    right: 0;
}