@import "carousel";
@import "variables";

@mixin icons {
    font-family: "Font Awesome 5 Free"; 
    font-weight: 900; 
    padding: 0.5rem;
}

@mixin input {
    padding-left: 10px;
    border-radius: 15px;
    border: none;
    transition: ease-in-out .1s;
    min-height: 33px;

    &:focus, &:active {
        box-shadow: $secondaryColor 0 0 10px;
        border: none;
        outline: none;
        transition: ease-in-out .1s;
    }
}

@mixin redButton {
    background-color: $primaryColor;
    transition: ease-in-out .1s;
    
    &:hover {
        background-color: $secondaryColor;
        color: $primaryColor;
        transition: ease-in-out .1s;
        cursor: pointer;
    }
}

.textWhite {
    color: $secondaryColor;
}

.textRed {
    color: $primaryColor;
}

.textPrimary {
    font-family: $textPrimary;
}

.textSecondary {
    font-family: $textSecondary;
}

.caps {
    text-transform: uppercase;
}

.background {
    position: fixed;
    width: 100%;
    z-index: -1;
    perspective: 1px;
    transform: translateZ(-1px) scale(1.5);
    min-height: 100%;
}

main {
    min-height: calc(100vh - 450px);
}

nav {
    color: $secondaryColor;
}

ul {
    list-style-type: none;
    padding-left: 0;
    li {
        padding: 5px 10px;
        font-size: 1.8em;
    }
}

a {
    text-decoration: none;
    color: $secondaryColor;
    transition: ease-in-out .1s;

    &:hover {
        color: $primaryColor;
        transition: ease-in-out .1s;
    }
}

header {
    margin-bottom: 50px;
    background-color: rgba(0, 0, 0, 0.5);
    padding-top: 20px;

    h1 {
        margin-top: 0;
        color: $secondaryColor;
        font-size: 5em;        
    }

    li {
        display: inline-block;
        padding: 0 20px;
    }

    nav {
        text-align: right;
        padding-bottom: 1px;
    }
}

#search {
    @include input;
    width: 250px;
}

.search-icon::after {
    @include icons;
    content: "\f002";
}

.share::after {
    @include icons;
    content: "\f1e0";
}

.sidebar{
    background-color: rgba(0, 0, 0, 0.5);
    position: fixed;

    ul {
        padding: 0 10px;
    }

    li:first-child {
        text-transform: uppercase;
    }

    li:last-child {
        @include redButton;
    }
}

.grid-container {
    display: grid;
    margin: 0 auto 50px 150px;
    grid-template-columns: auto auto;

    &__item {
        padding: 15px;
        background-color: rgba(0, 0, 0, 0.5);
    }


}

.item2 p::first-letter {
    color: $primaryColor;
    font-weight: bold;
}

footer {
    background-color: rgba(0, 0, 0, 0.5);
    position: relative;
    padding: 10px 0 10px 0;
    min-height: 100px;
    font-family: $textSecondary;
    margin-top: 50px;
}

.wrap1600 {
    max-width: 1600px;
    margin: 0 auto;
    padding: 0 1%;
}

table {
    line-height: 40px;
    border-collapse: collapse;

    thead {
        font-size: 1.5em;
    }

    td {
        padding: 0 15px 30px 15px;
        vertical-align: top;
    }

    tr:nth-child(odd) td{
        background-color: rgba(50, 50, 50, 0.5);        
    } 
}
    
form {
    line-height: 40px;
    border-collapse: collapse;
    font-size: 1.5em;

    input, select {
        @include input;
        border-radius: 15px;
    }

    textarea {
        @include input;
        border-radius: 15px;
        resize: none;
        width: 99%;
        height: 300px;
    }

    .email {
        @include input;
        width: 300px;

        &:focus {
            &:valid{
                background-color: rgb(167, 252, 167);
            }
            &:invalid {
                background-color: rgb(255, 170, 170);
            }
        }
    }

    .submit {
        background-color: $primaryColor;
        color: $secondaryColor;
        transition: ease-in-out .1s;
        padding: 15px 50px;
        font-size: 1.2em;
        border-radius: 0;
        @include redButton()
    }

    label::after {
        content: "*";
    }
}