.carousel-container {
  width: 50rem;
  position: relative;
  height: 500px;
  overflow: hidden;
}

.carousel-container button {
  position: absolute;
  top: 0;
  height: 100%;
  width: 10%;
  cursor: pointer;
  border: none;
  background-color: black;
  color: #e4e4e4;
  font-size: 2em;
  opacity: 30%;
  -webkit-transition: ease-in-out .1s;
  transition: ease-in-out .1s;
}

.carousel-container button:hover {
  opacity: 50%;
  -webkit-transition: ease-in-out .1s;
  transition: ease-in-out .1s;
  border: none;
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.carousel-container button:active {
  outline: none;
  opacity: 70%;
}

.carousel-container button:focus {
  outline: none;
}

.slides {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 200%;
  height: 100%;
}

.img1 {
  background: url("../img/cube1.jpg");
  width: 50%;
}

.img2 {
  background: url("../img/cube2.jpg");
  width: 50%;
}

.next {
  right: 0;
}

.textWhite {
  color: #e4e4e4;
}

.textRed {
  color: #d31b1b;
}

.textPrimary {
  font-family: "Oswald", sans-serif;
}

.textSecondary {
  font-family: "Ubuntu", sans-serif;
}

.caps {
  text-transform: uppercase;
}

.background {
  position: fixed;
  width: 100%;
  z-index: -1;
  -webkit-perspective: 1px;
          perspective: 1px;
  -webkit-transform: translateZ(-1px) scale(1.5);
          transform: translateZ(-1px) scale(1.5);
  min-height: 100%;
}

main {
  min-height: calc(100vh - 450px);
}

nav {
  color: #e4e4e4;
}

ul {
  list-style-type: none;
  padding-left: 0;
}

ul li {
  padding: 5px 10px;
  font-size: 1.8em;
}

a {
  text-decoration: none;
  color: #e4e4e4;
  -webkit-transition: ease-in-out .1s;
  transition: ease-in-out .1s;
}

a:hover {
  color: #d31b1b;
  -webkit-transition: ease-in-out .1s;
  transition: ease-in-out .1s;
}

header {
  margin-bottom: 50px;
  background-color: rgba(0, 0, 0, 0.5);
  padding-top: 20px;
}

header h1 {
  margin-top: 0;
  color: #e4e4e4;
  font-size: 5em;
}

header li {
  display: inline-block;
  padding: 0 20px;
}

header nav {
  text-align: right;
  padding-bottom: 1px;
}

#search {
  padding-left: 10px;
  border-radius: 15px;
  border: none;
  -webkit-transition: ease-in-out .1s;
  transition: ease-in-out .1s;
  min-height: 33px;
  width: 250px;
}

#search:focus, #search:active {
  -webkit-box-shadow: #e4e4e4 0 0 10px;
          box-shadow: #e4e4e4 0 0 10px;
  border: none;
  outline: none;
  -webkit-transition: ease-in-out .1s;
  transition: ease-in-out .1s;
}

.search-icon::after {
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  padding: 0.5rem;
  content: "\f002";
}

.share::after {
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  padding: 0.5rem;
  content: "\f1e0";
}

.sidebar {
  background-color: rgba(0, 0, 0, 0.5);
  position: fixed;
}

.sidebar ul {
  padding: 0 10px;
}

.sidebar li:first-child {
  text-transform: uppercase;
}

.sidebar li:last-child {
  background-color: #d31b1b;
  -webkit-transition: ease-in-out .1s;
  transition: ease-in-out .1s;
}

.sidebar li:last-child:hover {
  background-color: #e4e4e4;
  color: #d31b1b;
  -webkit-transition: ease-in-out .1s;
  transition: ease-in-out .1s;
  cursor: pointer;
}

.grid-container {
  display: -ms-grid;
  display: grid;
  margin: 0 auto 50px 150px;
  -ms-grid-columns: auto auto;
      grid-template-columns: auto auto;
}

.grid-container__item {
  padding: 15px;
  background-color: rgba(0, 0, 0, 0.5);
}

.item2 p::first-letter {
  color: #d31b1b;
  font-weight: bold;
}

footer {
  background-color: rgba(0, 0, 0, 0.5);
  position: relative;
  padding: 10px 0 10px 0;
  min-height: 100px;
  font-family: "Ubuntu", sans-serif;
  margin-top: 50px;
}

.wrap1600 {
  max-width: 1600px;
  margin: 0 auto;
  padding: 0 1%;
}

table {
  line-height: 40px;
  border-collapse: collapse;
}

table thead {
  font-size: 1.5em;
}

table td {
  padding: 0 15px 30px 15px;
  vertical-align: top;
}

table tr:nth-child(odd) td {
  background-color: rgba(50, 50, 50, 0.5);
}

form {
  line-height: 40px;
  border-collapse: collapse;
  font-size: 1.5em;
}

form input, form select {
  padding-left: 10px;
  border-radius: 15px;
  border: none;
  -webkit-transition: ease-in-out .1s;
  transition: ease-in-out .1s;
  min-height: 33px;
  border-radius: 15px;
}

form input:focus, form input:active, form select:focus, form select:active {
  -webkit-box-shadow: #e4e4e4 0 0 10px;
          box-shadow: #e4e4e4 0 0 10px;
  border: none;
  outline: none;
  -webkit-transition: ease-in-out .1s;
  transition: ease-in-out .1s;
}

form textarea {
  padding-left: 10px;
  border-radius: 15px;
  border: none;
  -webkit-transition: ease-in-out .1s;
  transition: ease-in-out .1s;
  min-height: 33px;
  border-radius: 15px;
  resize: none;
  width: 99%;
  height: 300px;
}

form textarea:focus, form textarea:active {
  -webkit-box-shadow: #e4e4e4 0 0 10px;
          box-shadow: #e4e4e4 0 0 10px;
  border: none;
  outline: none;
  -webkit-transition: ease-in-out .1s;
  transition: ease-in-out .1s;
}

form .email {
  padding-left: 10px;
  border-radius: 15px;
  border: none;
  -webkit-transition: ease-in-out .1s;
  transition: ease-in-out .1s;
  min-height: 33px;
  width: 300px;
}

form .email:focus, form .email:active {
  -webkit-box-shadow: #e4e4e4 0 0 10px;
          box-shadow: #e4e4e4 0 0 10px;
  border: none;
  outline: none;
  -webkit-transition: ease-in-out .1s;
  transition: ease-in-out .1s;
}

form .email:focus:valid {
  background-color: #a7fca7;
}

form .email:focus:invalid {
  background-color: #ffaaaa;
}

form .submit {
  background-color: #d31b1b;
  color: #e4e4e4;
  -webkit-transition: ease-in-out .1s;
  transition: ease-in-out .1s;
  padding: 15px 50px;
  font-size: 1.2em;
  border-radius: 0;
  background-color: #d31b1b;
  transition: ease-in-out .1s;
}

form .submit:hover {
  background-color: #e4e4e4;
  color: #d31b1b;
  -webkit-transition: ease-in-out .1s;
  transition: ease-in-out .1s;
  cursor: pointer;
}

form label::after {
  content: "*";
}
/*# sourceMappingURL=styles.css.map */